{% extends 'main/loyan.html' %}

{% block title %}Форма по добавлению статьи{% endblock %}
    
{% block content %}
     <div class="features">
        <h1>Форма по добавлению статьи</h1>
        <form method="post">
            {% csrf_token %}
            {{ form }}
            
            <input type="text" placeholder="Название статьи" class="form-control"><br>
            <input type="text" placeholder="Анонс статьи" class="form-control"><br>
            <textarea class="form-control" placeholder="Текст статьи"></textarea><br>
            <input type="date" class="form-control"><br>
            <input type="time" class="form-control"><br>
            <button class="btn btn-success" type="sumbit">Добавить статью</button>
            <span>{{ error }}</span>
       </form>
    </div>
{% endblock %}

