{% extends 'main/loyan.html' %}

{% block content %}
    <div class="features">
        <h1>Главная страница</h1>
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Necessitatibus quidem voluptatem quis maxime ratione nisi reprehenderit ducimus possimus dolores unde laudantium voluptatum similique et, nihil repellendus accusantium facilis ipsam vero.</p>
        <button class="btn btn-danger">Прсто нажми</button>
    </div>
{% endblock %}

{% block title %}
    Про нас
{% endblock %}
